## Required Codio Assignment 1.1: pandas Dataframes

**Expected time: 30 minutes**

**Total Points: 12**
    
    This assignment focuses on creating DataFrames using a dictionary, URL, and local file.
    
## Index:

- [Problem 1](#Problem-1)
- [Problem 2](#Problem-2)
- [Problem 3](#Problem-3)

In [1]:
import pandas as pd

[Back to top](#Index:) 

## Problem 1

### Creating a DataFrame

**4 Points**

Use a dictionary to create a DataFrame. Assign your results to the variable `total_widgets` below.

In [2]:
###GRADED
#Create a dataframe from the the widgets dictionary

#Create the dictionary of simulated data
data = {
    'WidgetA': [10, 9, 7, 8], 
    'WidgetB': [11, 12, 30, 1]
}

#And then pass it to the pandas DataFrame constructor total_widgets

total_widgets = None

### BEGIN SOLUTION

total_widgets = pd.DataFrame(data)

### END SOLUTION

#Printing the total widgets 
print(total_widgets)

   WidgetA  WidgetB
0       10       11
1        9       12
2        7       30
3        8        1

[Back to top](#Index:) 

## Problem 2

### Create a DataFrame from url

**4 Points**

Now, use a URL to load data to a DataFrame. The URL below links to a .csv file in a GitHub repository containing data about diamonds. Assign your resulting DataFrame to the variable `diamonds` below.

In [3]:
url = 'https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv'

In [4]:
### GRADED

diamonds = ''

### BEGIN SOLUTION
diamonds = pd.read_csv(url)
### END SOLUTION

# Answer check
print(type(diamonds))
diamonds.head()

<class 'pandas.core.frame.DataFrame'>

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

[Back to top](#Index:) 

##  Problem 3

### Create a DataFrame by importing data from a file.

**4 Points**

Now, use the data file located in the data folder named `nba.csv.` Assign your results as a DataFrame to the variable `nba` below.

In [5]:
### GRADED

nba = ''

### BEGIN SOLUTION
nba = pd.read_csv('data/nba.csv')
### END SOLUTION

# Answer check
print(type(nba))
nba.head()

<class 'pandas.core.frame.DataFrame'>

,Unnamed: 0,Name,Team,Position,Height,College,Number,Age,Weight,Salary
0,0,Avery Bradley,Boston Celtics,PG,6-2,Texas,0.0,25.0,180.0,7730337.0
1,1,Jae Crowder,Boston Celtics,SF,6-6,Marquette,99.0,25.0,235.0,6796117.0
2,2,John Holland,Boston Celtics,SG,6-5,Boston University,30.0,27.0,205.0,0.0
3,3,R.J. Hunter,Boston Celtics,SG,6-5,Georgia State,28.0,22.0,185.0,1148640.0
4,4,Jonas Jerebko,Boston Celtics,PF,6-10,NaN,8.0,29.0,231.0,5000000.0